    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="{:url('Shop/market_index')}" title="返回活动"><i class="iconfont e-fanhui"></i></a>
            <ul class="tab-base nc-row">
                <li><a href="{:url("Sharp/index")}" class="tab {in name="$Request.action" value="index,add,edit"}current{/in}"><span>秒杀商品</span></a></li>
                <li><a href="{:url("Sharp/active_index")}" class="tab {in name="$Request.action" value="active_index,active_time_add,active_time_edit,active_add,active_time_index"}current{/in}"><span>活动会场</span></a></li>
            </ul>
        </div>
    </div>