
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="{if condition="'Sample' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Sample/Sample/index")}{/if}" title="返回列表"><i class="iconfont e-fanhui"></i></a>
            
            <ul class="tab-base nc-row">
                <li>
                {eq name="$Request.param.sa" value="index"}
                    <a href="javascript:void(0);" class="tab current"><span>文档列表</span></a>
                {else /}
                    <a href="{:weapp_url("Sample/Sample/index")}" class="tab"><span>文档列表</span></a>
                {/eq}
                </li>

                <li>
                {range name="$Request.param.sa" value="conf" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>插件配置</span></a>
                {else /}
                    <a href="{:weapp_url("Sample/Sample/conf")}" class="tab"><span>插件配置</span></a>
                {/range}
                </li>

                <li>
                {range name="$Request.param.sa" value="doc" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>使用指南</span></a>
                {else /}
                    <a href="{:weapp_url("Sample/Sample/doc")}" class="tab"><span>使用指南</span></a>
                {/range}
                </li>
            </ul>
        </div>
    </div>