<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="__SKIN__/css/main.css?v={$version}" rel="stylesheet" type="text/css">
<link href="__SKIN__/css/page.css?v={$version}" rel="stylesheet" type="text/css">
<link href="__SKIN__/font/css/font-awesome.min.css?v={$version}" rel="stylesheet" />
<!--[if IE 7]>
  <link rel="stylesheet" href="__SKIN__/font/css/font-awesome-ie7.min.css?v={$version}">
<![endif]-->
<link href="__SKIN__/js/jquery-ui/jquery-ui.min.css?v={$version}" rel="stylesheet" type="text/css"/>
<link href="__SKIN__/css/perfect-scrollbar.min.css?v={$version}" rel="stylesheet" type="text/css"/>
<style type="text/css">html, body { overflow: visible;}</style>
<script type="text/javascript">
    // 入口路径
    var eyou_basefile = "{$Request.baseFile}";
    var module_name = "{$Think.const.MODULE_NAME}";
    var GetUploadify_url = "{:url('Uploadify/upload')}";
</script>  
<script type="text/javascript" src="__SKIN__/js/jquery.js?v={$version}"></script>
<script type="text/javascript" src="__SKIN__/js/jquery-ui/jquery-ui.min.js?v={$version}"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/layer-v3.1.0/layer.js?v={$version}"></script>
<script type="text/javascript" src="__WEAPP_TEMPLATE__/skin/js/admin.js?v={$weappInfo.version|default='v1.0.0'}"></script>
<script type="text/javascript" src="__SKIN__/js/perfect-scrollbar.min.js?v={$version}"></script>
<script src="__WEAPP_TEMPLATE__/skin/js/global.js?v={$weappInfo.version|default='v1.0.0'}"></script>
</head>