<div class="item-from-row">
    <div class="from-row-l">
		{eyou:if condition="1 == $vo.is_required"}
			<span class="red">*</span>
		{eyou:else/}
			<span class="red"></span>
		{/eyou:if}
		{$vo.title}：
	</div>
    <div class="from-row-r">
        {$vo.dfvalue|default=''}
        {eyou:eq name='$users.is_mobile' value='1'}
            <span class="err"><a href="JavaScript:void(0);" onclick="get_{$vo.fieldArr}{$vo.name|default=''}_mobile_code('更改手机');">（更改手机）</a></span>
        {eyou:else/}
            <span class="err"><a href="JavaScript:void(0);" onclick="get_{$vo.fieldArr}{$vo.name|default=''}_mobile_code('绑定手机');">（绑定手机）</a></span>
        {/eyou:eq}
        <script type="text/javascript">
            function get_{$vo.fieldArr}{$vo.name|default=''}_mobile_code(title) {
                var url = '{$RootDir}/index.php?m=user&c=Users&a=bind_mobile';
                if (url.indexOf('?') > -1) {
                    url += '&';
                } else {
                    url += '?';
                }
                url += 'title=' + title;
                //iframe窗
                layer.open({
                    type: 2,
                    title: title,
                    shadeClose: false,
                    maxmin: false, //开启最大化最小化按钮
                    area: ['350px', '300px'],
                    content: url
                });
            }
        </script> 
        <p class="notic">{$vo.remark|default=''}</p>
    </div>
</div>