
[e-id].uiset {
    border: 1px solid #f00 !important;
    cursor: pointer;
    position: relative;
}
[e-id].uiset b.ui_icon{
   background: url(../images/ui_icon.jpg) no-repeat #000;
   height: 22px;
   width: 35px;
   display: inline-block;
   position: absolute;
   top: 0px;
   left: 50%;
   margin-left: -17px;
   z-index: 999999;
}
[e-id].uiset_back-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../images/uiset_back-btn.png) no-repeat transparent;
    z-index: 9999;
    cursor: pointer;
}
