
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="{if condition="'SpiderVisit' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("SpiderVisit/SpiderVisit/index")}{/if}" title="返回列表"><i class="fa fa-chevron-left"></i>返回</a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                {eq name="$Request.param.sa" value="index"}
                    <a href="javascript:void(0);" class="tab current"><span>访问列表</span></a>
                {else /}
                    <a href="{:weapp_url("SpiderVisit/SpiderVisit/index")}" class="tab"><span>访问列表</span></a>
                {/eq}
                </li>

                <li>
                {range name="$Request.param.sa" value="tongji" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>蜘蛛统计</span></a>
                {else /}
                    <a href="{:weapp_url("SpiderVisit/SpiderVisit/tongji")}" class="tab"><span>蜘蛛统计</span></a>
                {/range}
                </li>
                
                <li>
                    <a href="javascript:void(0);" onclick="click_to_eyou_1575506523('https://www.eyoucms.com/plus/view.php?aid=10858', 'Robots技巧');" class="tab"><span>Robots技巧</span></a>
                </li>

                <li>
                    <a href="javascript:void(0);" onclick="click_to_eyou_1575506523('https://www.eyoucms.com/plus/view.php?aid=8624', '蜘蛛访问统计插件使用指南');" class="tab"><span>使用指南</span></a>
                </li>
            </ul>
        </div>
    </div>