
<!-- 官方内置样式表，升级会覆盖变动，请勿修改，否则后果自负 -->

<style type="text/css">
	/*左侧收缩图标*/
	#foldSidebar i { font-size: 24px;color:{$global.web_theme_color}; }
    /*左侧菜单*/
    .eycms_cont_left{ background:{$global.web_theme_color}; }
    .eycms_cont_left dl dd a:hover,.eycms_cont_left dl dd a.on,.eycms_cont_left dl dt.on{ background:{$global.web_assist_color}; }
    .eycms_cont_left dl dd a:active{ background:{$global.web_assist_color}; }
    .eycms_cont_left dl.jslist dd{ background:{$global.web_theme_color}; }
    .eycms_cont_left dl.jslist dd a:hover,.eycms_cont_left dl.jslist dd a.on{ background:{$global.web_assist_color}; }
    .eycms_cont_left dl.jslist:hover{ background:{$global.web_assist_color}; }
    /*栏目操作*/
    .cate-dropup .cate-dropup-con a:hover{ background-color: {$global.web_theme_color}; }
    /*按钮*/
    a.ncap-btn-green { background-color: {$global.web_theme_color}; }
    a:hover.ncap-btn-green { background-color: {$global.web_assist_color}; }
    .flexigrid .sDiv2 .btn:hover { background-color: {$global.web_theme_color}; }
    .flexigrid .mDiv .fbutton div.add{background-color: {$global.web_theme_color}; border: none;}
    .flexigrid .mDiv .fbutton div.add:hover{ background-color: {$global.web_assist_color};}
	.flexigrid .mDiv .fbutton div.adds{color:{$global.web_theme_color};border: 1px solid {$global.web_theme_color};}
	.flexigrid .mDiv .fbutton div.adds:hover{ background-color: {$global.web_theme_color};}
    /*选项卡字体*/
    .tab-base a.current,
    .tab-base a:hover.current {color:{$global.web_theme_color} !important;}
    .tab-base a.current:after,
    .tab-base a:hover.current:after {background-color: {$global.web_theme_color};}
    .addartbtn input.btn:hover{ border-bottom: 1px solid {$global.web_theme_color}; }
    .addartbtn input.btn.selected{ color: {$global.web_theme_color};border-bottom: 1px solid {$global.web_theme_color};}
	/*会员导航*/
	.member-nav-group .member-nav-item .btn.selected{background: {$global.web_theme_color};border: 1px solid {$global.web_theme_color};box-shadow: -1px 0 0 0 {$global.web_theme_color};}
	.member-nav-group .member-nav-item:first-child .btn.selected{border-left: 1px solid {$global.web_theme_color} !important;}
	/*搜索按钮图标*/
	.flexigrid .sDiv2 .fa-search{}
        
    /* 商品订单列表标题 */
   .flexigrid .mDiv .ftitle h3 {border-left: 3px solid {$global.web_theme_color};} 
	
    /*分页*/
    .pagination > .active > a, .pagination > .active > a:focus, 
	.pagination > .active > a:hover, 
	.pagination > .active > span, 
	.pagination > .active > span:focus, 
	.pagination > .active > span:hover { border-color: {$global.web_theme_color};color:{$global.web_theme_color}; }
    
    .layui-form-onswitch {border-color: {$global.web_theme_color} !important;background-color: {$global.web_theme_color} !important;}
    .onoff .cb-enable.selected { background-color: {$global.web_theme_color} !important;border-color: {$global.web_theme_color} !important;}
    .onoff .cb-disable.selected {background-color: {$global.web_theme_color} !important;border-color: {$global.web_theme_color} !important;}
    .pcwap-onoff .cb-enable.selected { background-color: {$global.web_theme_color} !important;border-color: {$global.web_theme_color} !important;}
    .pcwap-onoff .cb-disable.selected {background-color: {$global.web_theme_color} !important;border-color: {$global.web_theme_color} !important;}
    input[type="text"]:focus,
    input[type="text"]:hover,
    input[type="text"]:active,
    input[type="password"]:focus,
    input[type="password"]:hover,
    input[type="password"]:active,
    textarea:hover,
    textarea:focus,
    textarea:active { border-color:{$global.web_theme_color|hex2rgba=###,0.8};box-shadow: 0 0 0 1px {$global.web_theme_color|hex2rgba=###,0.5} !important;}
    .input-file-show:hover .type-file-button {background-color:{$global.web_theme_color} !important; }
    .input-file-show:hover {border-color: {$global.web_theme_color} !important;box-shadow: 0 0 5px {$global.web_theme_color|hex2rgba=###,0.5} !important;}
    .input-file-show:hover span.show a,
    .input-file-show span.show a:hover { color: {$global.web_theme_color} !important;}
    .input-file-show:hover .type-file-button {background-color: {$global.web_theme_color} !important; }
    .color_z { color: {$global.web_theme_color} !important;}
    a.imgupload{
        background-color: {$global.web_theme_color} !important;
        border-color: {$global.web_theme_color} !important;
    }
    /*专题节点按钮*/
    .ncap-form-default .special-add{background-color:{$global.web_theme_color};border-color:{$global.web_theme_color};}
    .ncap-form-default .special-add:hover{background-color:{$global.web_assist_color};border-color:{$global.web_assist_color};}
    
    /*更多功能标题*/
    .on-off_panel .title::before {background-color:{$global.web_theme_color};}
    .on-off_panel .icon_bg {background-color: {$global.web_theme_color};}
    .on-off_panel .e-jianhao {color: {$global.web_theme_color};}
    
     /*内容菜单*/
    .ztree li a:hover{color:{$global.web_theme_color} !important;}
    .ztree li a.curSelectedNode{background-color: {$global.web_theme_color} !important; border-color:{$global.web_theme_color} !important;}
    .layout-left .on-off-btn {background-color: {$global.web_theme_color} !important;}

    .iframe_loading{
        width:100%;
        background:url(__SKIN__/images/loading-0.gif) no-repeat center center;
    }
    
    .layui-btn-normal {background-color: {$global.web_theme_color};}
    
    /* 商品规格按钮 */
    /* .preset-bt{border-color: {$global.web_theme_color} !important;background:{$global.web_theme_color};} */
</style>