
<!-- <div class="addartbtn fl">
    <input type="button" class="btn {neq name='$Request.action' value='archives_index'}current{else/}selected{/neq}" value="文档管理" onClick="window.location.href='{:url('RecycleBin/archives_index')}';">
</div>
<div class=" addartbtn fl"><span class="sprt col-padding-1">|</span></div>
<div class="addartbtn fl">
    <input type="button" class="btn {neq name='$Request.action' value='arctype_index'}current{else/}selected{/neq}" value="栏目管理" onClick="window.location.href='{:url('RecycleBin/arctype_index')}';">
</div>
<div class=" addartbtn fl"><span class="sprt col-padding-1">|</span></div>
<div class="addartbtn fl" >
    <input type="button" class="btn {neq name='$Request.action' value='customvar_index'}current{else/}selected{/neq}" value="自定义变量" onClick="window.location.href='{:url('RecycleBin/customvar_index')}';">
</div>
<div class=" addartbtn fl"><span class="sprt col-padding-1">|</span></div>
<div class="addartbtn fl" >
    <input type="button" class="btn {neq name='$Request.action' value='proattr_index'}current{else/}selected{/neq}" value="产品参数" onClick="window.location.href='{:url('RecycleBin/proattr_index')}';">
</div>
<div class=" addartbtn fl"><span class="sprt col-padding-1">|</span></div>
<div class="addartbtn fl">
    <input type="button" class="btn {neq name='$Request.action' value='gbookattr_index'}current{else/}selected{/neq}" value="留言属性" onClick="window.location.href='{:url('RecycleBin/gbookattr_index')}';">
</div>
 -->


<div class="member-nav-group">

	<label class="member-nav-item">
		<input type="button" class="btn {neq name='$Request.action' value='archives_index'}current{else/}selected{/neq}" value="文档管理" onClick="window.location.href='{:url('RecycleBin/archives_index')}';">
	</label>
	<label class="member-nav-item">
		<input type="button" class="btn {neq name='$Request.action' value='arctype_index'}current{else/}selected{/neq}" value="栏目管理" onClick="window.location.href='{:url('RecycleBin/arctype_index')}';">
	</label>
	<label class="member-nav-item">
		<input type="button" class="btn {neq name='$Request.action' value='customvar_index'}current{else/}selected{/neq}" value="自定义变量" onClick="window.location.href='{:url('RecycleBin/customvar_index')}';">
	</label>
	<label class="member-nav-item">
		<input type="button" class="btn {neq name='$Request.action' value='proattr_index'}current{else/}selected{/neq}" value="产品参数" onClick="window.location.href='{:url('RecycleBin/proattr_index')}';">
	</label>
	<label class="member-nav-item">
		<input type="button" class="btn {neq name='$Request.action' value='gbookattr_index'}current{else/}selected{/neq}" value="留言属性" onClick="window.location.href='{:url('RecycleBin/gbookattr_index')}';">
	</label>
</div>