{include file="public/layout" /}
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="member/bar" /}
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>支付功能参数设置</h3>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <div class="sDiv">
                <div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
                    <input type="button" class="btn selected" value="支付宝配置" onclick="window.location.href='{:url("member/alipay_set")}';">
                </div>
            </div>
            <div class="sDiv">
                <div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
                    <input type="button" class="btn current" value="微信配置" onclick="window.location.href='{:url("member/wechat_set")}';">
                </div>
            </div>
        </div>
        <form class="form-horizontal" id="postForm" action="{:url('Member/wechat_set')}" method="post">
            <div class="hDiv">
                <div class="hDivBox">
                    <table cellspacing="0" cellpadding="0" style="width: 100%">
                        <thead>
                        <tr>
                            <th class="sign w10" axis="col0">
                                <div class="tc"></div>
                            </th>
                            <th abbr="article_title" axis="col3" class="w10">
                                <div class="tc">微信参数设置</div>
                            </th>
                            <th abbr="ac_id" axis="col4">
                                <div class=""></div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label for="username"><em>*</em>微信AppId</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="wechat[appid]" id="appid" value="{$wechat.appid}" class="input-txt">
                        <p class="notic">请输入您的微信公众平台中的微信AppId，用于微信支付。</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="username"><em>*</em>微信MchId</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="wechat[mchid]" id="mchid" value="{$wechat.mchid}" class="input-txt">
                        <p class="notic">请输入您的微信公众平台中的微信MchId，用于微信支付。</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="username"><em>*</em>微信KEY值</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="wechat[key]" id="key" value="{$wechat.key}" class="input-txt">
                        <p class="notic">请输入您的微信公众平台中的微信KEY值，用于微信支付。</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="username"><em></em>公众号名称</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="wechat[name]" value="{$wechat.name}" class="input-txt">
                        <p class="notic">请输入您的微信公众平台中的微信公众号名称。</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="username"><em></em>微信AppSecret</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="wechat[appsecret]" value="{$wechat.appsecret}" class="input-txt">
                        <p class="notic">请输入您的微信公众平台中的微信AppSecret。</p>
                    </dd>
                </dl>
            </div>

            <div class="ncap-form-default">
                <dl class="row">
                    <div class="bot">
                        <a href="JavaScript:void(0);" onclick="wechatset();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
                    </div>
                </dl>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    function wechatset(){
        if($('input[id=appid]').val() == ''){
            layer.alert('缺少微信AppId', {icon: 2, title:false});
            return false;
        }

        if($('input[id=mchid]').val() == ''){
            layer.alert('缺少微信MchId', {icon: 2, title:false});
            return false;
        }

        if($('input[id=key]').val() == ''){
            layer.alert('缺少微信KEY值', {icon: 2, title:false});
            return false;
        }

        layer_loading('正在处理');
        $('#postForm').submit();
    }

</script>

{include file="public/footer" /}