    <div class="fixed-bar">
        <div class="item-title">
            <ul class="tab-base nc-row">
                {eq name="'Member@users_index'|is_check_access" value="1"}
                    <li>
                        <a href="{:url('Member/users_index')}" {if condition="in_array($Think.const.ACTION_NAME, ['users_index','level_index','attr_index','users_config'])"}class="current"{/if}>
                            <span>会员列表</span>
                        </a>
                    </li>
                {/eq}

                {eq name="'Member@money_index'|is_check_access" value="1"}
                    {if condition="1 == $userConfig.pay_open"}
                        <li>
                            <a href="{:url('Member/money_index')}" {if condition="in_array($Think.const.ACTION_NAME, ['money_index', 'money_edit','media_index','upgrade_index'])"}class="current"{/if}>
                                <span>订单管理</span>
                            </a>
                        </li>
                    {/if}
                {/eq}

                {eq name="'UsersRelease@conf'|is_check_access" value="1"}
                    {if condition="1 == $userConfig.users_open_release"}
                        <li>
                            <a href="{:url('UsersRelease/conf')}" {if condition="in_array($Think.const.CONTROLLER_NAME, ['UsersRelease'])"}class="current"{/if}>
                                <span>会员投稿</span>
                            </a>
                        </li>
                    {/if}
                {/eq}
                
                {if condition="$php_servicemeal > 1"}
                    {eq name="'UsersScore@conf'|is_check_access" value="1"}
                    <li>
                        <a href="{:url('UsersScore/conf')}" {if condition="in_array($Think.const.CONTROLLER_NAME, ['UsersScore'])"}class="current"{/if}>
                            <span>积分管理</span>
                        </a>
                    </li>
                    {/eq}
                {/if}
            </ul>
        </div>
    </div>