
    <div class="fixed-bar">
        <div class="item-title">
            <!-- <a class="back_xin" href="{:url("Member/money_index")}" title="返回"><i class="iconfont e-fanhui"></i></a></a> -->
            <ul class="tab-base nc-row">
                {eq name="'Member@money_index'|is_check_access" value="1"}
                <li>
                    <a {if condition="in_array($Request.action, ['money_index'])"}class="current"{/if} href='{:url("Member/money_index")}'>
                        <span>余额充值</span>
                    </a>
                </li>
                {/eq}

                {eq name="'Level@index'|is_check_access" value="1"} 
                    {if condition="1 == $userConfig.level_member_upgrade"}
                        {eq name="'Level@upgrade_index'|is_check_access" value="1"}
                            <li>
                                <a {if condition="in_array($Request.action, ['upgrade_index'])"}class="current"{/if} href='{:url("Level/upgrade_index")}'>
                                    <span>会员升级</span>
                                </a>
                            </li>
                        {/eq}
                    {/if}   
                {/eq}
            
                {eq name="'Member@media_index'|is_check_access" value="1"}
                    {if condition="!empty($channeltype_row[5]['status'])"}
                        {eq name="'Member@media_index'|is_check_access" value="1"}
                            <li>
                                <a {if condition="in_array($Request.action, ['media_index'])"}class="current"{/if} href='{:url("Member/media_index")}'>
                                    <span>视频订单</span>
                                </a>
                            </li>
                        {/eq}   
                    {/if}   
                {/eq}

                {eq name="'Member@article_index'|is_check_access" value="1"}
                    {if condition="!empty($channeltype_row[1]['status']) && !empty($channelRow.data.is_article_pay)"}
                        <li>
                            <a {if condition="in_array($Request.action, ['article_index'])"}class="current"{/if} href='{:url("Member/article_index")}'>
                                <span>文章订单</span>
                            </a>
                        </li>
                    {/if}
                {/eq}
            </ul>
        </div>
    </div>
