
    <div class="fixed-bar">
        <div class="item-title">
            <!-- <a class="back_xin" href="{:url("Member/users_index")}" title="返回"><i class="iconfont e-fanhui"></i></a></a> -->
            <ul class="tab-base nc-row">
                {eq name="'Member@users_index'|is_check_access" value="1"}
                <li>
                    <a {if condition="in_array($Request.action, ['users_index','users_add','users_edit'])"}class="current"{/if} href='{:url("Member/users_index")}'>
                        <span>会员列表</span>
                    </a>
                </li>
                {/eq}

                {eq name="'Member@level_index'|is_check_access" value="1"}
                <li>
                    <a {if condition="in_array($Request.action, ['level_index','level_add','level_edit'])"}class="current"{/if} href='{:url("Member/level_index")}'>
                        <span>会员级别</span>
                    </a>
                </li>
                {/eq}

                {eq name="'Member@attr_index'|is_check_access" value="1"}
                <li>
                    <a {if condition="in_array($Request.action, ['attr_index','attr_add','attr_edit'])"}class="current"{/if} href='{:url("Member/attr_index")}'>
                        <span>会员属性</span>
                    </a>
                </li>
                {/eq}

                {eq name="'Member@users_config'|is_check_access" value="1"}
                <li>
                    <a {if condition="in_array($Request.action, ['users_config'])"}class="current"{/if} href='{:url("Member/users_config")}'>
                        <span>功能配置</span>
                    </a>
                </li>
                {/eq}
            </ul>
        </div>
    </div>
