{include file="public/layout" /}
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit; min-width:400px;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: 400px;">
    <div class="flexigrid">

        <div class="ftitle">
            <div id="TagsDiv" class="tagDiv" style="display: none;"></div>
            <span id="TagsSpan" class="tagDiv" style="display: none;">
                <input type="button" class="btn" style="border: none; background-color: #4fc0e8; color: white;" value="完成" onclick="CarryOutSelect();">
            </span>
        </div> 
        <div class="bDiv" style="height: auto;background: #f7f7f7;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <div class="no_row">
                                    <div class="no_pic"><img src="__SKIN__/images/null-data.png"></div>
                                </div>
                            </td>
                        </tr>
                    {else/}
                        <tr>
                            <td>
                                <div class="tagBox">
                                    {foreach name="list" item="vo" key="k" }
                                        <a class="btn red" href="javascript:void(0);" id="TagSelect_{$vo.id}" data-id="{$vo.id}" data-tag="{$vo.tag}" onclick="TagSelect(this, '#TagSelect_{$vo.id}');"><i class="fa fa-trash-o"></i>{$vo.tag}({$vo.total})</a> &nbsp; 
                                    {/foreach}
                                </div>
                            </td>
                        </tr>
                    {/empty}
                    </tbody>
                </table>
            </div>
        </div>

       <!-- <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton checkboxall"></div>
            </div>
        </div> -->
        <!--分页位置-->
       {$page}
    </div>
</div>
<script>
    $(document).ready(function() {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

        var tagOldSelectID = parent.$('#TagOldSelectID').val();
        var tagOldSelectTag = parent.$('#TagOldSelectTag').val();
        if (tagOldSelectID && tagOldSelectTag) {
            var tagOldSelectID = tagOldSelectID.split(',');
            var tagOldSelectTag = tagOldSelectTag.split(',');

            if (tagOldSelectID.length > 0 && tagOldSelectTag.length > 0) {
                for (var i = tagOldSelectID.length - 1; i >= 0; i--) {
                    var tagSelectID = '#TagSelect_' + tagOldSelectID[i];
                    var html = '<input type="button" class="btn TagsIndex" style="border: none; background-color: #fff; color: #12ace2;" value="'+tagOldSelectTag[i]+' x" data-id="'+tagOldSelectID[i]+'" onclick="DelSelect(this, \''+tagSelectID+'\');">';
                    $('#TagsDiv').show().append(html);
                    if ($('.TagsIndex').length > 0) $('#TagsSpan').show();
                    $(tagSelectID).css('background-color', '#d6c5c5').css('color', 'white');
                }
            }
        }
    });

    // 编辑TAG标签的SEO优化
    function SeoEdit(obj) {
        var url = $(obj).data('url');
        //iframe窗
        layer.open({
            type: 2,
            title: 'TAG标签 - 编辑',
            fixed: true,
            shadeClose: false,
            shade: layer_shade,
            closeBtn: 3,
            maxmin: true,
            area: ['630px', '500px'],
            content: url
        });
    }
	
    // 选中tag标签
    function TagSelect(obj, tagSelectID) {
        // 获取已选中的tag标签ID
        var tagOldSelectID = parent.$('#TagOldSelectID').val();
        // 获取已选中的tag标签Tag
        var tagOldSelectTag = parent.$('#TagOldSelectTag').val();
        // 获取当前点击的tag标签ID
        var id = $(obj).attr('data-id');
        // 获取当前点击的tag标签Tag
        var tag = $(obj).attr('data-tag');
        // 是否添加成功，默认 false
        var is_add = false;
        // 是否存在已选tag标签ID
        if (tagOldSelectID) {
            // 判断tag标签ID是否已存在
            var TagOldSelectNew = tagOldSelectID.split(',');
            // 不存在则执行
            if ($.inArray(id, TagOldSelectNew) == -1) {
                // 追加tag标签ID
                tagOldSelectID += ',' + id;
                // 追加tag标签名称
                tagOldSelectTag += ',' + tag;
                // 添加成功，改为 true
                is_add = true;
            }
        } else {
            // 添加tag标签ID
            tagOldSelectID = id;
            // 添加tag标签名称
            tagOldSelectTag = tag;
            // 添加成功，改为 true
            is_add = true;
        }
        // 添加成功则执行
        if (is_add) {
            // 添加tag标签名称至页面顶部
            var html = '<input type="button" class="btn TagsIndex" style="border: none; background-color: #fff; color: #12ace2;" value="'+tag+' x" data-id="'+id+'" onclick="DelSelect(this, \''+tagSelectID+'\');">';
            $('#TagsDiv').show().append(html);
            if ($('.TagsIndex').length > 0) $('#TagsSpan').show();
        }
        // 赋值给已选中的tag标签ID隐藏域
        parent.$('#TagOldSelectID').val(tagOldSelectID);
        // 赋值给已选中的tag标签名称隐藏域
        parent.$('#TagOldSelectTag').val(tagOldSelectTag);
        // 添加当前点击项的自定义样式
        $(obj).css('background-color', '#d6c5c5').css('color', 'white');
    }

    // 删除已选单条tag
    function DelSelect(obj, tagSelectID) {
        // 获取已选中的tag标签ID
        var tagOldSelectID = parent.$('#TagOldSelectID').val();
        // 获取已选中的tag标签Tag
        var tagOldSelectTag = parent.$('#TagOldSelectTag').val();
        // 获取当前点击的tag标签ID
        var id = $(obj).attr('data-id');
        if (tagOldSelectID) {
            // 将字符串转成数组，判断tag标签ID是否已存在
            var tagOldSelectID = tagOldSelectID.split(',');
            // 将字符串转成数组，判断tag标签ID是否已存在
            var tagOldSelectTag = tagOldSelectTag.split(',');
            // 是否存在，存在则返回下标
            var index = $.inArray(id, tagOldSelectID);
            // 若存在则执行
            if (index != -1) {
                // 删除指定tag的ID
                tagOldSelectID.splice(index, 1);
                // 将数组转成字符串
                tagOldSelectID = tagOldSelectID.join(',');
                // 赋值给已选中的tag标签ID隐藏域
                parent.$('#TagOldSelectID').val(tagOldSelectID);

                // 删除指定tag的名称
                tagOldSelectTag.splice(index, 1);
                // 将数组转成字符串
                tagOldSelectTag = tagOldSelectTag.join(',');
                // 赋值给已选中的tag标签名称隐藏域
                parent.$('#TagOldSelectTag').val(tagOldSelectTag);

                // 删除自身
                $(obj).remove();
                // 清楚当前点击项的style
                $(tagSelectID).removeAttr('style');
            }
        }
    }

    // 完成选择
    function CarryOutSelect() {
        // 获取已选中的tag标签
        var tagOldSelectID     = parent.$('#TagOldSelectID').val();
        var tagOldSelectTag    = parent.$('#TagOldSelectTag').val();
        var newTagOldSelectID  = parent.$('#NewTagOldSelectID').val();
        var newtagOldSelectTag = parent.$('#NewTagOldSelectTag').val();

        // 存在差异则执行
        if (tagOldSelectID != newTagOldSelectID) {
            // 数据不为空则执行
            if (tagOldSelectID && tagOldSelectTag) {
                /*将字符串转成数组*/
                var tagOldSelectID  = tagOldSelectID.split(',');
                var tagOldSelectTag = tagOldSelectTag.split(',');
                var newTagOldSelectID  = newTagOldSelectID.split(',');
                var newtagOldSelectTag = newtagOldSelectTag.split(',');
                /*END*/

                /*判断是否存在新增的TAG标签ID*/
                var tagOldSelectID_2 = tagOldSelectID.filter( function(n) {
                    return newTagOldSelectID.indexOf(n) == -1;
                });
                /*END*/
                /*判断是否存在新增的TAG标签名称*/
                var tagOldSelectTag_2 = tagOldSelectTag.filter( function(n) {
                    return newtagOldSelectTag.indexOf(n) == -1;
                });
                /*END*/
                /*有TAG标签则执行*/
                if (tagOldSelectID_2.length > 0 && tagOldSelectTag_2.length > 0) {
                    for (var i = tagOldSelectID_2.length - 1; i >= 0; i--) {
                        /*判断选择的TAG名称是否已存在，存在则清除*/
                        parent.$('.span_tag').each( function() {
                            if ($(this).find('a').val() === tagOldSelectTag_2[i]) $(this).remove();
                        });
                        parent.$('.tag_new').each( function() {
                            if ($(this).find('a').attr('data-tag') === tagOldSelectTag_2[i]) $(this).remove();
                        });
                        /*END*/
                        /*组装数据加载*/
                        var html = '<span class="tag_new">'+tagOldSelectTag_2[i]+' &nbsp;&nbsp;<a href="javascript:void(0);" data-id="'+tagOldSelectID_2[i]+'" data-tag="'+tagOldSelectTag_2[i]+'" onclick="UseTagIDDel1591784354(this);">x</a></span>';
                        parent.$('#tags_tag').before(html);
                        /*END*/
                    }
                }
                /*END*/

                /*判断是否存在新增的TAG标签ID*/
                var tagOldSelectID_3 = newTagOldSelectID.filter( function(m) {
                    return tagOldSelectID.indexOf(m) == -1;
                });
                /*END*/
                /*判断是否存在新增的TAG标签名称*/
                var tagOldSelectTag_3 = newtagOldSelectTag.filter( function(m) {
                    return tagOldSelectTag.indexOf(m) == -1;
                });
                /*END*/

                /*有TAG标签则执行*/
                if (tagOldSelectID_3.length > 0 && tagOldSelectTag_3.length > 0) {
                    for (var i = tagOldSelectTag_3.length - 1; i >= 0; i--) {
                        /*判断选择的TAG名称是否已存在，存在则清除*/
                        parent.$('.span_tag').each( function() {
                            if ($(this).find('a').val() === tagOldSelectTag_3[i]) $(this).remove();
                        });
                        parent.$('.tag_new').each( function() {
                            if ($(this).find('a').attr('data-tag') === tagOldSelectTag_3[i]) $(this).remove();
                        });
                        /*END*/
                    }
                }
                /*END*/

                // 赋值给已选中的tag标签ID隐藏域
                parent.$('#NewTagOldSelectID').val(tagOldSelectID);
                // 赋值给已选中的tag标签名称隐藏域
                parent.$('#tags').show().val(tagOldSelectTag).hide();
                parent.$('#NewTagOldSelectTag').val(tagOldSelectTag);
            } else {
                parent.$('.tag_new').remove();
                // 赋值给已选中的tag标签显示,赋值给已选中的tag标签名称隐藏域
                parent.$('#NewTagOldSelectTag').val('');
                // 赋值给已选中的tag标签ID隐藏域
                parent.$('#NewTagOldSelectID').val('');
            }
        }

        // 关闭弹窗
        parent.layer.closeAll();
    }

    // 一键清空
    function clearall() {
        layer.confirm('确认一键清空？', {
            shade: layer_shade,
            area: ['480px', '190px'],
            move: false,
            title: '提示',
            btnAlign:'r',
            closeBtn: 3,
            btn: ['确定', '取消'] ,//按钮
            success: function () {
                  $(".layui-layer-content").css('text-align', 'left');
              }
        }, function () {
            layer_loading('正在处理');
            $.ajax({
                type: "POST",
                url: "{:url('Tags/clearall')}",
                data: {_ajax: 1},
                dataType: 'json',
                success: function (res) {
                    layer.closeAll();
                    if(res.code == 1) {
                        window.location.reload();
                    } else {
                        layer.alert(res.msg, {icon: 2, title:false});
                    }
                },
                error:function(e) {
                    layer.closeAll();
                    layer.alert(e.responseText, {icon: 2, title:false});
                }
            });
        });
    }
</script>

{include file="public/footer" /}