
    {include file="seo/bar" /}
<!--     <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>友情链接</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{:url("Links/index")}" class="tab {eq name="$Request.action" value="index"}current{/eq}"><span>友链列表</span></a></li>

                {eq name="$Think.const.CONTROLLER_NAME.'@add'|is_check_access" value="1"}
                <li><a href="{:url("Links/add")}" class="tab {if condition="in_array($Request.action, array('add','edit'))"}current{/if}"><span>{if condition="'edit' == $Request.action"}编辑链接{else /}新增链接{/if}</span></a></li>
                {/eq}
            </ul>
        </div>
    </div> -->