    <div class="fixed-bar">
        <div class="item-title">
            <ul class="tab-base nc-row">
                {eq name="$Think.const.CONTROLLER_NAME.'@index'|is_check_access" value="1"}
                <li><a href="{:url('Weapp/index')}" class="tab {eq name="$Request.action" value="index"}current{/eq}"><span>我的插件</span></a></li>
                {/eq}
                
                {eq name="$Think.const.CONTROLLER_NAME.'@plugin'|is_check_access" value="1"}
                    {eq name="$weapp_plugin_open" value="1"}
                    <li><a href="{:url('Weapp/plugin')}" class="tab {eq name="$Request.action" value="plugin"}current{/eq}"><span>云插件库</span></a></li>
                    {/eq}
                {/eq}

                {eq name="$Think.const.CONTROLLER_NAME.'@mybuy'|is_check_access" value="1"}
                <li><a href="{:url('Weapp/mybuy', ['install'=>0])}" class="tab {eq name="$Request.action" value="mybuy"}current{/eq}"><span>已购买插件</span></a></li>
                {/eq}
            </ul>
        </div>
    </div>