
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="{:url('Index/switch_map')}" title="返回"><i class="iconfont e-fanhui"></i></a>
            <ul class="tab-base nc-row">
                <li><a href="{:url("Tools/index")}" class="tab {eq name="$Request.action" value="index"}current{/eq}"><span>数据备份</span></a></li>
                <li><a href="{:url("Tools/restore")}" class="tab {if condition="in_array($Request.action, array('restore'))"}current{/if}"><span>数据还原</span></a></li>
            </ul>
        </div>
    </div>