<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
 <title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="screen-orientation" content="portrait"><!-- uc强制竖屏 -->
<meta name="x5-orientation" content="portrait"><!-- QQ强制竖屏 -->

<link href="/template/pc/static/css/pagv2.css" rel="stylesheet" type="text/css" />
<script src="/template/pc/static/js/jquery-1.8.1.min.js" type="text/javascript"></script>
<script src="/template/pc/static/js/common.js" type="text/javascript"></script>


</head>
<body>
    <div id="warp">
      {eyou:include file="header.htm" /}

        <!--banner begin-->
        <!-- /header -->
        <div class="bannerArea wcon">
           <img src="{eyou:notempty name='$eyou.field.typelitpic' /}{$eyou.field.typelitpic} {eyou:else /}{$eyou.field.typeid|gettoptype=###,'litpic'}{/eyou:notempty}"  />
            <!--栏目-->
            <div class="hiArea">
                <div class="rightArea">当前位置：{eyou:position style=' ' /}</div>
            </div>
        </div>
        <div class="container wcon">
            <!--左边-->
            <div class="aboutleft">
                <div class="left">
    <!--菜单-->
   <div class="menuArea">
  <div class="titleArea">
    <h3>{$eyou.field.typeid|gettoptype=###,'typename'}</h3> 
  </div>
  <div class="conArea ">
   
    <ul class="navmenu">
         {eyou:models  type='sonself' loop='20'  currentclass='cur'}
         <li class="{$field.currentclass}"><h3><a href="{$field.typeurl}">{$field.typename}</a></h3></li>
        {/eyou:models}
             
        </ul>  
  </div>
            
</div>
</div>
            </div>
            <!--右边-->
            <div class="padd aboutcon">
                <!--栏目-->
                <!--信息详细--复杂-->
                <div class="pr">
                   {$eyou.field.content}

                </div>
            </div>
        </div>
        <!--底部-->
   {eyou:include file="kefu.htm" /}

{eyou:include file="footer.htm" /}

    </div>

   


</body>
</html>
