<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>我的回答-{eyou:global name='web_name' /}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {eyou:static file="users/skin/css/bootstrap.min.css"/}
    {eyou:static file="users/skin/css/basic.css"/}
    {eyou:static file="users/skin/css/eyoucms.css"/}
    {eyou:static file="users/skin/css/shop.css"/}
    {eyou:static  file="users/skin/css/tb_style.css"/}
    <!-- 新样式 2020-11-25 -->
    {eyou:static file="users/skin/css/element/index.css" /}
    {eyou:static file="users/skin/css/e-user.css" /}
    {eyou:include file="users/skin/css/diy_css.htm"/}

    {eyou:static file="/public//template/pc/static/common/js/jquery.min.js"/}
    {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
    {eyou:static file="/public//template/pc/static/common/js/tag_global.js"/}
</head>

<body class="centre shop">
<!-- 头部 -->
{eyou:include file="users/users_header.htm" /}
<!-- END -->
<div class="ey-body-bg">
    <div class="ey-body">
        <div class="ey-container w1200">
            <!-- 侧边 -->
            {eyou:include file="users/users_left.htm" /}
            <!-- END -->
            <!-- 中部 -->
            <div class="ey-con fr" >
                <div class="el-main main-bg">
                    <!-- 顶部导航栏 -->
                    <div class="column-title mb20">
                        <div class="column-name">我的问答</div>
                    </div>

                    <div class="ey-con-inside">
                        <div class="el-row oper-row">
                            <div class="el-col-12 oper-row-l">
                                <div class="el-button-group">
                                    <a href="{eyou:url link='user/Ask/ask_index' /}" class="cursor-pointer el-button {if $Think.const.MODULE_NAME == 'user' && $Think.const.CONTROLLER_NAME == 'Ask' && $Think.const.ACTION_NAME == 'ask_index'} el-button--primary {/if}" >我的提问</a>
                                    <a href="{eyou:url link='user/Ask/answer_index' /}" class="cursor-pointer el-button {if $Think.const.MODULE_NAME == 'user' && $Think.const.CONTROLLER_NAME == 'Ask' && $Think.const.ACTION_NAME == 'answer_index'} el-button--primary {/if}" >我的回答</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END -->
                    <div class="el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition mt20" style="width: 100%;">
                        <table>
                            <thead>
                            <tr>
                                <th style="width: 80px;" ><div class="cell tc">ID</div></th>
                                <th style="width: 380px;"><div class="cell">回答内容</div></th>
                                <th style="width: 380px;"><div class="cell">所属问题</div></th>
                                <th style="width: 100px;"><div class="cell tc">审核状态</div></th>
                            </tr>
                            </thead>
                            <tbody>
                            {empty name="$list"}
                            <tr>
                                <td  align="center" axis="col0" colspan="50">
                                    <div class="cell pt50 pb50 tc">
                                        <span class="mb10"><img id='litpic_img'  src="__PUBLIC__//template/pc/static/common/images/null-data.png"/></span>
                                    </div>
                                </td>
                            </tr>
                            {else/}
                            {eyou:volist name="$list" id="vo"}
                            <tr>
                                <td>
                                    <div class="cell tc">{$vo.answer_id}</div>
                                </td>

                                <td>
                                    <div class="cell">
                                        {$vo.content}
                                    </div>
                                </td>

                                <td>
                                    <div class="cell"><a href="{$vo.AskUrl}" target="_blank">{$vo.ask_title}</a></div>
                                </td>

                                <td>
                                    <div class="cell tc">
                                        {eyou:eq name="$vo.is_review" value="1"}
                                        已审核
                                        {eyou:else/}
                                        未审核
                                        {/eyou:eq}
                                    </div>
                                </td>

                            </tr>

                            {/eyou:volist}
                            {/empty}
                            </tbody>
                        </table>
                    </div>
                    {$page}
                    {eyou:if condition="!empty($pager->totalRows)"}
                    <div class="fytotal">共{$pager->totalRows}条记录</div>
                    {/eyou:if}

                </div>
                <!-- END -->
            </div>

        </div>
    </div>
</div>
{eyou:include file="users/users_footer.htm" /}
<!-- END -->