{eyou:volist name="$users_para" id="vo"}
    {eyou:switch name="vo.dtype"}
        {eyou:case value="hidden"}
            <!-- 隐藏域 start -->
            <div class="item-from-row" style="display: none;">
                <dt class="tit">
                    &nbsp;&nbsp;<label>{$vo.title}</label>
                </dt>
                <dd class="opt">
                    <input type="hidden" class="input-txt" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$vo.dfvalue|default=''}">
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                </dd>
            </div>
            <!-- 隐藏域 start -->
        {/eyou:case}

        {eyou:case value="mobile"}
            <!-- 手机文本框 start -->
            {eyou:include file="/public//template/pc/static/template/users_v2/users_centre_field_mobile.htm" /}
            <!-- 手机文本框 end -->
        {/eyou:case}

        {eyou:case value="email"}
            <!-- 邮箱文本框 start -->
            <div class="item-from-row">
            <div class="from-row-l">{$vo.title}：</div>
                <div class="from-row-r">
                    {$vo.dfvalue|default=''}
                    {eyou:eq name='$users.is_email' value='1'}
                        <span class="err"><a href="JavaScript:void(0);" onclick="get_{$vo.fieldArr}{$vo.name|default=''}_email_code('更改邮箱');">（更改邮箱）</a></span>
                    {eyou:else/}
                        <span class="err"><a href="JavaScript:void(0);" onclick="get_{$vo.fieldArr}{$vo.name|default=''}_email_code('绑定邮箱');">（绑定邮箱）</a></span>
                    {/eyou:eq}
                    <p class="notic">{$vo.remark|default=''}</p>
                </div>
            </div>
            <script type="text/javascript">
                function get_{$vo.fieldArr}{$vo.name|default=''}_email_code(title)
                {
                    var url = "{eyou:url link='user/Users/bind_email'/}";
                    if (url.indexOf('?') > -1) {
                        url += '&';
                    } else {
                        url += '?';
                    }
                    url += 'title='+title;
                    //iframe窗
                    layer.open({
                        type: 2,
                        title: title,
                        shadeClose: false,
                        maxmin: false, //开启最大化最小化按钮
                        area: ['350px', '300px'],
                        content: url
                    });
                }
            </script>
            <!-- 邮箱文本框 end -->
        {/eyou:case}

        {eyou:case value="text"}
            <!-- 单行文本框 start -->
            <div class="item-from-row">
                <div class="from-row-l">{$vo.title}：
					{eyou:if condition="1 == $vo.is_required"}
						<span class="red">*</span>
					{eyou:else/}
						<span class="red"></span>
					{/eyou:if}
				</div>
                <div class="from-row-r">
                    <input type="text" class="input-txt" id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$vo.dfvalue|default=''}" autocomplete="off">{$vo.dfvalue_unit|default=''}
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                </div>
            </div>
            <!-- 单行文本框 end -->
        {/eyou:case}

        {eyou:case value="multitext"}
            <!-- 多行文本框 start -->
            <div class="item-from-row">
                <div class="from-row-l">
					{eyou:if condition="1 == $vo.is_required"}
					    <span class="red">*</span>
					{eyou:else/}
					    <span class="red"></span>
					{/eyou:if}
					{$vo.title}：
				</div>
                <div class="from-row-r">
                    <textarea id="{$vo.fieldArr}_{$vo.name|default=''}" name="{$vo.fieldArr}[{$vo.name|default=''}]" class="w300" autocomplete="off">{$vo.dfvalue|default=''}</textarea>
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                </div>
            </div>
            <!-- 多行文本框 end -->
        {/eyou:case}

        {eyou:case value="checkbox"}
            <!-- 复选框 start -->
            <div class="item-from-row">
                <div class="from-row-l">{$vo.title}：</div>
                <div class="from-row-r">
                    {eyou:volist name="$vo.dfvalue" id="v2"}
					<label class="checkbox-label">
						<span>{$v2}</span>
						<input type="checkbox" class="checkbox" name="{$vo.fieldArr}[{$vo.name|default=''}][]" value="{$v2}" {if condition="isset($vo['trueValue']) AND in_array($v2, $vo['trueValue'])"}checked="checked"{/if}>
					    <span class="check-mark"></span>
					</label>
                    {/eyou:volist}
                    {eyou:if condition="1 == $vo.is_required"}
                        （必选）
                    {/eyou:if}
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                    
                </div>
            </div>
            <!-- 复选框 end -->
        {/eyou:case}

        {eyou:case value="radio"}
            <!-- 单选项 start -->
            <div class="item-from-row">
                <div class="from-row-l">{$vo.title}：</div>
                <div class="from-row-r">
                    {eyou:volist name="$vo.dfvalue" id="v2"}
					<label class="radio-label">
						<span>{$v2}</span>
						<input type="radio" class="radio" name="{$vo.fieldArr}[{$vo.name|default=''}]" value="{$v2}" {eyou:if condition="isset($vo['trueValue']) AND in_array($v2, $vo['trueValue'])"}checked="checked"{/eyou:if}>
					    <span class="check-mark"></span>
					</label>
                    {/eyou:volist}
                    {eyou:if condition="1 == $vo.is_required"}
                        （必选）
                    {/eyou:if}
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                </div>
            </div>
            <!-- 单选项 end -->
        {/eyou:case}

        {eyou:case value="select"}
            <!-- 下拉框 start -->
            <div class="item-from-row">
                <div class="from-row-l">
					{eyou:if condition="1 == $vo.is_required"}
						<span class="red">*</span>
					{/eyou:if}
					{$vo.title}：
				</div>
                <div class="from-row-r">
					<div class="w300 select">
						<select name="{$vo.fieldArr}[{$vo.name|default=''}]" id="{$vo.fieldArr}_{$vo.name|default=''}">
						    <option value="">请选择</option>
						    {eyou:volist name="$vo.dfvalue" id="v2"}
						        <option value="{$v2}" {eyou:if condition="isset($vo['trueValue']) AND in_array($v2, $vo['trueValue'])"}selected{/eyou:if}>{$v2}</option>
						    {/eyou:volist}
						</select>
					</div>
                    <span class="err"></span>
                    <p class="notic">{$vo.remark|default=''}</p>
                </div>
            </div>
            <!-- 下拉框 end -->
        {/eyou:case}
        <!-- 扩展 start -->
        {eyou:include file="/public//template/pc/static/template/users_v2/users_centre_field_extend.htm" /}
        <!-- 扩展 end -->
    {/eyou:switch}
{/eyou:volist}