{include file="public/layout" /}
<style type="text/css">
    .flexigrid .click_home {float: left;line-height: 24px;margin: 0 0 0 10px;}
</style>
<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>可视数据</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                {if condition="in_array('pc', $templateArr)"}
                <li><a href="{:url("Uiset/ui_index", array('theme_style'=>'pc'))}" class="tab {eq name="$theme_style" value="pc"}current{/eq}"><span>电脑端</span></a></li>
                {/if}
                {if condition="in_array('mobile', $templateArr)"}
                <li><a href="{:url("Uiset/ui_index", array('theme_style'=>'mobile'))}" class="tab {eq name="$theme_style" value="mobile"}current{/eq}"><span>手机端</span></a></li>
                {/if}
            </ul>
        </div>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>数据列表</h3>
                <h5>(共{$pager->totalRows}条数据)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <div class="click_home">
                {if condition="$theme_style == 'pc'"}
                <a href="{:url('Uiset/pc')}" target="_blank" class="tab">点击可视化编辑</a>
                {elseif condition="$theme_style == 'mobile'"}
                <a href="{:url('Uiset/mobile')}" target="_blank" class="tab">点击可视化编辑</a>
                {/if}
            </div>
            <form class="navbar-form form-inline" action="{:url('Uiset/ui_index')}" method="get" onsubmit="layer_loading('正在处理');">
                {$searchform.hidden|default=''}
                <div class="sDiv">
                    <div class="sDiv2">
                        <input type="text" size="30" name="keywords" class="qsbox" placeholder="搜索相关数据...">
                        <input type="submit" class="btn" value="搜索">
                        <i class="iconfont e-sousuo"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="sign w40" axis="col0">
                            <div class=" tc">选择</div>
                        </th>
                        <th abbr="article_title" axis="col3" class="">
                            <div style=" padding-left: 10px">文件分组(e-page)</div>
                        </th>
                        <th abbr="ac_id" axis="col4" class="w120">
                            <div class="tc">标签类型(e-type)</div>
                        </th>
                        <th abbr="article_time" axis="col6"  class="w120">
                            <div class="tc">初始ID(e-id)</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w160">
                            <div class="tc">更新时间</div>
                        </th>
                        <th axis="col1" class="w120">
                            <div class="tc">操作</div>
                        </th>
                       
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <div class="no_row">
                                    <div class="no_pic"><img src="__SKIN__/images/null-data.png"></div>
                                </div>
                            </td>
                        </tr>
                    {else/}
                        {foreach name="list" item="vo" key="k" }
                        <tr>
                            <td class="sign w40">
                                <div class="tc"><input type="checkbox" autocomplete="off" name="ids[]" value="{$vo.id}"></div>
                            </td>
                            <td class="">
                                <div style=" padding-left: 10px">
                                    {$vo.page}
                                </div>
                            </td>
                            <td class="w120">
                                <div class="tc">
                                    {$vo.type}
                                </div>
                            </td>
                            <td class="w120">
                                <div class="tc">
                                    {$vo.name}
                                </div>
                            </td>
                            <td class="w160">
                                <div class="tc">
                                    {$vo.update_time|date='Y-m-d H:i:s',###}
                                </div>
                            </td>
                            <td class="w120">
                                <div class="tc">
                                    {eq name="$Think.const.CONTROLLER_NAME.'@del'|is_check_access" value="1"}
                                    <a class="btn red"  href="javascript:void(0)" data-url="{:url('Uiset/del')}" data-id="{$vo.id}" onClick="delfun(this);"><i class="fa fa-trash-o"></i>删除</a>
                                    {/eq}
                                </div>
                            </td>
                         
                        </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton checkboxall">
                    <input type="checkbox" autocomplete="off" onclick="javascript:$('input[name*=ids]').prop('checked',this.checked);">
                </div>
                {eq name="$Think.const.CONTROLLER_NAME.'@del'|is_check_access" value="1"}
                <div class="fbutton">
                    <a onclick="batch_del(this, 'ids');" data-url="{:url('Uiset/del')}">
                        <div class="add" title="批量删除">
                            <span><i class="fa fa-close"></i>批量删除</span>
                        </div>
                    </a>
                </div>
                {/eq}
            </div>
            <div style="clear:both"></div>
        </div>
        <!--分页位置-->
        {$page}
    </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
</script>

{include file="public/footer" /}