<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="__SKIN__/css/index.css" rel="stylesheet" type="text/css">
    <link href="__SKIN__/font/css/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="__SKIN__/js/jquery.js"></script>
    <style>
        .contentWarp_item .section_select .item_comment{
            padding: 83px 0 31px 38px;
        }
        .contentWarp_item .section_select .item {
            padding: 83px 0 38px 38px;
        }
        .contentWarp_item .section_order_select li{
            width: 23%;
        }
    </style>
</head>
<body class="iframe_body">
<div class="warpper">
    <div class="title">调试外观</div>
    <div class="content start_content">
        <div class="contentWarp">
            <div class="index_box">
                <section class="index_point hidden-xs">
                    <h3>快捷入口</h3>
                    <div class="container-fluid">
                        <ul>
                            <li>
                                <a href="{$field.index_url}" target="_blank">
                                    <i class="fa fa-newspaper-o"></i>
                                    网站首页
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div id="footer" style="position: static; bottom: 0px; font-size:14px;">
    <p>
        <b>Copyright © 2012-2018 <a href="http://www.eyoucms.com" title="Eyoucms企业网站管理系统">EYOUCMS</a>. 版权所有</b>
    </p>
</div>

</body>
</html>