	<div class="clear"></div>
	<div class="footer ">
		<P class="ty">{eyou:global name='web_copyright' /}</P>
		
		</div>
		
	
<script type="text/javascript" src="/template/pc/js/jquery-1.8.3.min.js"></script> 
<script>
	$("#mnavh").click(function(){
    $("#starlist").toggle();
	$("#mnavh").toggleClass("open");
	});
	
	 $(".menu ul li em").click(function(event) {
   $(this).next('.sub').slideToggle();
   });
	$(".sidebar-toggle").click(function(){
  
	$("body").toggleClass("close");
	});
	</script>