<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{eyou:global name='web_title' /}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/template/pc/css/index.css" rel="stylesheet" media="screen" type="text/css" />
</head>
<body>
 {eyou:include file="head.htm" /}
	
	<div class="main ty">
	<div class="tpbj">
	<Img src="/template/pc/images/1.jpg">
	</div>
	<div class="ycyx">
		<li><img src="/template/pc/images/2.png">投稿邮箱:468785938@qq.com</li>
		<li><img src="/template/pc/images/1.png"> 举报投诉邮箱:4154050@qq.com</li>
		  
		</div>
		
		
		
	
	</div>
	 {eyou:include file="footer.htm" /}
	
	
	
	
	

</body>
</html>
