<?xml version="1.0" ?>
<handlers>
	<remove name="php_52"/>
	<remove name="php_53"/>
	<remove name="php_54"/>
	<remove name="php_55"/>
	<remove name="php_56"/>
	<remove name="php_70"/>
	<remove name="php_71"/>
	<remove name="php_72"/>
	<remove name="php_73"/>
	<remove name="php_74"/>
	<remove name="php_75"/>
	<remove name="php_00"/>
	<remove name="php_80"/>
	<remove name="php_81"/>
	<remove name="php_82"/>
	<add modules="FastCgiModule" name="php_56" path="*.php" requireAccess="Script" resourceType="File" scriptProcessor="C:\BtSoft\php\56\php-cgi.exe" verb="*"/>
</handlers>
