{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            <p>【内容关键词链接-插件文档】</p>
            <ol>
                <li><a href="http://note.youdao.com/noteshare?id=c322bac0f79f9deac329bb5f6ab94711"
                       target="_blank">点击查看</a></li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}