{include file="public/layout" /}
<script type="text/javascript" src="__SKIN__/js/clipboard.min.js"></script>
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;min-width:auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width:auto;padding-bottom: 15px;">
    <div class="flexigrid flexigrid-xin">
        <div class="header-bar">
            <div class="more" >
                <div class="search">
                    <div class="content">
                        <form id="postForm" action="{:url('Shop/users_edit_order_index')}" method="get" onsubmit="layer_loading('正在处理');" style="display: unset;">
                            {$searchform.hidden|default=''}
                            <input type="hidden" name="order_status" value="{$Request.param.order_status}">
                            <input type="hidden" name="users_id" value="{$Request.param.users_id}">
                            <div class="ey-form-item"><label class="users-form-item-label">订单号：</label>
                                <div class="users-form-item-content">
                                    <div class="users-select">
                                        <div tabindex="0" class="users-select-selection">
                                            <!-- 订单号查询 -->
                                            <div class="sDiv2">
                                                <input type="text" size="50" name="order_code" id="order_code" value="{$Request.param.order_code}" class="qsbox" style="width: 170px;" placeholder="订单号">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="ey-form-item" style="margin-left: 20px;">
                            <div class="users-form-item-content">
                                <span class="bt-xin" onclick="$('#postForm').submit();">查询</span>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="geduan-xin"></div>
</div>

<div class="page" style="min-width:auto;">
    <div class="flexigrid flexigrid-xin" style=" padding-right: 1px; ">
        <div class="tableDiv  bubbleInfo">
            <table cellspacing="0" cellpadding="0" style="width: 100%;">
                <thead>
                    <tr>
                        <th> <div class="">商品信息</div> </th>
                        <th class="w240"> <div class="">单价/数量</div> </th>
                        <th class="w240"> <div class="">实付款</div> </th>
                        <th class="w160"> <div class="">状态</div> </th>
                    </tr>
                </thead>
                <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <div class="">
                                    <div class="no_pic"><img src="__SKIN__/images/null-data.png"></div>
                                </div>
                            </td>
                        </tr>
                    {else/}
                        {volist name="list" id="vo"}
                            <tr class="order-empty"><td colspan="7"></td></tr>
                            <tr>
                                <td class="biaotou" colspan="7">
                                    <span class="mr15" style=" display: flex; flex-direction: row; align-items: center; ">
                                        <i class="iconfont e-shijian"></i>
                                        <span class="mr15">{$vo.add_time}</span>
                                        <span class="mr15">订单号：{$vo.order_code} <a class="copy order_code" onclick="OrderCopy();" data-clipboard-text="{$vo.order_code}">复制</a></span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                {volist name="$vo.Details" id="do"}
                                    {eq name="$i" value="1"}
                                    <td>
                                        <div class="goods-detail">
                                            <div class="goods-image">
                                                <a href="{$do.arcurl}" target="_blank"><img src="{$do.litpic}"></a>
                                            </div>
                                            <div class="goods-info">
                                                <p class="goods-title">{eq name="$do.prom_type" value="0"}<span class="shi">实</span>{else/}<span>虚</span>{/eq}{$do.product_name}</p>
                                                <p class="goods-spec">{$do.data}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=""><p>￥{$do.product_price} X {$do.num}</p></td>
                                    {/eq}
                                {/volist}
                            
                                <td class="" rowspan="{$vo.rowspan}">
                                    <p style="color: #636669; font-weight: 600;">￥{$vo.order_amount} <span style="font-weight: 400;">(含运费：￥{$vo.shipping_fee})</span></p>
                                </td>

                                <td class="" rowspan="{$vo.rowspan}">
                                    <p>
                                        <span class="zt {eq name='$vo.order_status' value='0'}show{else/}none{/eq}" style="color: #ff1f2c">待付款</span>
                                        <span class="zt {eq name='$vo.order_status' value='1'}show{else/}none{/eq}" style="color: #ff9900">待发货</span>
                                        <span class="zt {eq name='$vo.order_status' value='2'}show{else/}none{/eq}" style="color: #2d8cf0;">已发货</span>
                                        <span class="zt {eq name='$vo.order_status' value='3'}show{else/}none{/eq}" style="color: #19be6b;">已完成</span>
                                        <span class="zt {eq name='$vo.order_status' value='-1'}show{else/}none{/eq}" style="color: #939799;">已关闭</span>
                                    </p>
                                    
                                </td>
                            </tr>

                            {volist name="$vo.Details" id="do"}
                                {gt name="$i" value="1"}
                                <tr>
                                    <td>
                                        <div class="goods-detail">
                                            <div class="goods-image">
                                                <a href="{$do.arcurl}" target="_blank"><img src="{$do.litpic}"></a>
                                            </div>
                                            <div class="goods-info">
                                                <p class="goods-title">{eq name="$do.prom_type" value="0"}<span class="shi">实</span>{else/}<span>虚</span>{/eq}{$do.product_name}</p>
                                                <p class="goods-spec">{$do.data}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class=""><p>￥{$do.product_price} X {$do.num}</p></td>
                                </tr>
                                {/gt}
                            {/volist}
                        {/volist}
                    {/empty}
                </tbody>
            </table>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                {include file="public/page" /}
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('input[name*=ids]').click(function() {
            if ($('input[name*=ids]').length == $('input[name*=ids]:checked').length) {
                $('.checkAll').prop('checked','checked');
            } else {
                $('.checkAll').prop('checked', false);
            }
        });
        $('input[type=checkbox].checkAll').click(function(){
            $('input[type=checkbox]').prop('checked',this.checked);
        });
    });

    $(document).ready(function() {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function() {
            $(this).toggleClass('trSelected');
        });
    });


    // 订单号复制
    function OrderCopy() {
        var clipboard1 = new Clipboard(".order_code");
        clipboard1.on("success", function(e) {
            layer.msg("复制成功");
        });
        clipboard1.on("error", function(e) {
            layer.msg("复制失败！请手动复制", {icon: 5});
        }); 
    }
</script>

{include file="public/footer" /}
